extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/Habitaciones/habitacion.css')

    .principal
        each sql in data
            .habitaciones
                p#nombre #{sql.nombre}
                br
                p#descripcion #{sql.descripcion}
                br
                p#precio #{sql.costo+sql.codigoMoneda}
