extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/opcionesUsuario/cambiarContrasena.css')

    -let host = "http://localhost:3000"
    //-let host = "http://linkedpost.herokuapp.com"


    .form-left
        img(src="../../images/Principal/Logo.png" id="iconoUsuario" width="300px" height="300px")
        label#linkedPost LinkedPost
        label#descripcion Todos tus links en una sola plataforma

    .form-right
    a(href=host+"/users/login")
        img(src="../../images/Login/boton-de-retroceso.png" id="retroceso" width="45px" height="45px")

    .form-right-box
        form(action="/users/cambio" method="POST")
            img(src="../../images/Login/perfil.png" id="perfil" width="150px" height="150px")
            input(type="text" name="username" placeholder="ingrese su usuario" width="200" height="200" id="username" required="username", autofocus=)
            input(type="password" name="password" placeholder="ingrese su contraseña actual" width="200" height="200" id="password" required="password")
            input(type="password" name="newPassword" placeholder="ingrese una nueva contraseña" width="200" height="200" id="newPassword" required="newPassword")
            input(type="submit" value="Aceptar" id="botonAceptar")
            if(message && message.length>0)
                p(class="alert alert-danger" id="mensaje_error_login") #{message}
