extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/Login/login.css')

    //let host = "http://localhost:3000"
    -let host = "https://hotelesperroscanahueca.herokuapp.com"


    .form-left
        img(src="../../images/Principal/Logo.png" id="iconoUsuario" width="300px" height="300px")
        label#linkedPost HotelPerruno
        label#descripcion Los mejores hoteles

    .form-right
    a(href=host)
        img(src="../../images/Login/boton-de-retroceso.png" id="retroceso" width="45px" height="45px")

    .form-right-box
        form(action="/users/validate" method="POST")
            img(src="../../images/Login/perfil.png" id="perfil" width="150px" height="150px")
            input(type="text" name="username" placeholder="ingrese su usuario" width="200" height="200" id="username" required="username", autofocus=)
            input(type="password" name="password" placeholder="ingrese su contraseña" width="200" height="200" id="password" required="password")
            input(type="submit" value="Aceptar" id="botonAceptar")
            if(message && message.length > 0)
                p(class="alert alert-danger" id="mensaje_error_login") #{message}
        a(href="https://hotelesperroscanahueca.herokuapp.com/users/login/cambioContrasena" id="cambioContraseña") Cambiar Contraseña
        a(href="https://hotelesperroscanahueca.herokuapp.com/users/login/eliminoCuenta" id="eliminarCuenta") Eliminar mi cuenta
        a(href="https://hotelesperroscanahueca.herokuapp.com/users/register" id="registrarse") Registrarse
